extends layout

block content
  extends layout

  block content
    .container.signupPage
      .title
        h1.page-header #{users.username}'s Profile
      .row
        // left column
        .col-md-6.col-sm-6.col-xs-12
          .text-center
            img.avatar.img-circle.img-thumbnail(src='http://lorempixel.com/200/200/people/9/', alt='avatar')
        // edit form column
        .col-md-6.col-sm-6.col-xs-12.portfolioSidebar
          h2 #{users.username}
          h2 Team #{users.faction}
          h2 Spirit Pokemon -- Squirtle
          h2 #{users.age} years old
          h2 Height
        .col-md-12.personal-info
          h2 Personal Info
        .col-md-3
        .col-md-6.profileSummary
          p #{users.summary}
        .col-md-3

